<h1>Создание профиля преподавателя</h1>

<%= form_with(model: @profile, url: teacher_profile_path) do |f| %>
  <div class="form-group">
    <%= f.label :position, 'Должность' %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :academic_degree, 'Учёная степень' %>
    <%= f.text_field :academic_degree, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Создать профиль', class: 'btn btn-primary' %>
  </div>
<% end %>