<div class="container mt-4">
  <h1>Управление предметами</h1>

  <div class="mb-3">
    <%= link_to '← Назад в админ-панель', admin_dashboard_path, class: 'btn btn-secondary' %>
    <%= link_to 'Добавить предмет', '#', class: 'btn btn-primary' %>
  </div>

  <% if @subjects.any? %>
    <table border="0" cellpadding="8" cellspacing="0" class="table">
      <thead>
      <tr>
        <th width="40%">&nbsp;&nbsp;&nbsp;Название&nbsp;&nbsp;&nbsp;</th>
        <th width="20%">&nbsp;&nbsp;&nbsp;Код&nbsp;&nbsp;&nbsp;</th>
        <th width="20%">&nbsp;&nbsp;&nbsp;Кредиты&nbsp;&nbsp;&nbsp;</th>
        <th width="20%">&nbsp;&nbsp;&nbsp;Действия&nbsp;&nbsp;&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;<%= subject.name %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;<%= subject.code %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;<%= subject.credits %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Редактировать', '#', class: 'btn btn-sm btn-secondary' %>
            &nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Предметы не найдены.</p>
  <% end %>
</div>