<div class="container mt-4">
  <h1>Управление пользователями</h1>

  <div class="mb-3">
    <%= link_to '← Назад в админ-панель', admin_dashboard_path, class: 'btn btn-secondary' %>
  </div>

  <% if @users.any? %>
    <table border="0" cellpadding="8" cellspacing="0" class="table">
      <thead>
      <tr>
        <th width="20%">&nbsp;&nbsp;&nbsp;Имя&nbsp;&nbsp;&nbsp;</th>
        <th width="25%">&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;</th>
        <th width="15%">&nbsp;&nbsp;&nbsp;Роль&nbsp;&nbsp;&nbsp;</th>
        <th width="20%">&nbsp;&nbsp;&nbsp;Дата регистрации&nbsp;&nbsp;&nbsp;</th>
        <th width="20%">&nbsp;&nbsp;&nbsp;Действия&nbsp;&nbsp;&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;<%= user.full_name %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;<%= user.email %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;<%= user.display_role %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;<%= user.created_at.strftime('%d.%m.%Y') %>&nbsp;&nbsp;&nbsp;</td>
          <td>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Просмотр', '#', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Редактировать', '#', class: 'btn btn-sm btn-secondary' %>
            &nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Пользователи не найдены.</p>
  <% end %>
</div>