<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to 'Schedule System', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Личный кабинет', dashboard_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Курсы', courses_path, class: 'nav-link' %>
          </li>

          <% if current_user.teacher? %>
            <li class="nav-item">
              <%= link_to 'Создать курс', new_course_path, class: 'nav-link' %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'О системе', about_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <strong><%= current_user.full_name %></strong>
              <span class="badge bg-light text-dark ms-1"><%= current_user.display_role %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'dropdown-item' %>

              <div class="dropdown-divider"></div>
              <%= button_to 'Выйти', destroy_user_session_path, method: :delete,
                            class: 'dropdown-item text-danger border-0 bg-transparent text-start w-100',
                            form: { class: 'd-inline' } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-outline-light ms-2' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>